.loaderContainer {
  width: 100%;
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mediumContainer {
  min-height: 25vh;
}

.smallContainer {
  min-height: 15vh;
}
